<div class="wrapper_userPage" *ngFor="let item of usersInfo">
  <div class="wrapper_tab">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{item.firstName}} {{item.lastName}}">
        <div class="wrapper_information">
          <div class="block_photo"><img src="https://cdn.shopify.com/s/files/1/0019/9239/2768/products/Website_Image_Coming_Soon_9f06e67d-75d4-4a41-bcc4-aa01cf3f3a76_1200x1200.jpg?v=1573129133" alt="Photo user"></div>
          <div class="block_info">

            <div class="wrapper_content" *ngIf="item.email">
              <div class="label">
                <p>Email:</p>
              </div>
              <div class="content">
                <p>{{item.email}}</p>
              </div>
            </div>
            <div class="wrapper_content" *ngIf="item.phone">
              <div class="label">
                <p>Phone:</p>
              </div>
              <div class="content">
                <p>{{item.phone}}</p>
              </div>
            </div>
            <div class="wrapper_content" *ngIf="item.country">
              <div class="label">
                <p>Lives:</p>
              </div>
              <div class="content">
                <p>{{item.country}}, {{item.city}}</p>
              </div>
            </div>
            <div class="wrapper_content" *ngIf="item.birth">
              <div class="label">
                <p>Date of Birth:</p>
              </div>
              <div class="content">
                <p>{{item.birth}}</p>
              </div>
            </div>
            <div class="wrapper_content" *ngIf="item.married">
              <div class="label">
                <p>Married:</p>
              </div>
              <div class="content">
                <p>{{item.married}}</p>
              </div>
            </div>
            <div class="wrapper_content" *ngIf="item.studied">
              <div class="label">
                <p>Studied:</p>
              </div>
              <div class="content">
                <p>{{item.studied}}, {{item.yearsOfStudy}}</p>
              </div>
            </div>
            <div class="wrapper_content" *ngIf="item.work">
              <div class="label">
                <p>Work:</p>
              </div>
              <div class="content">
                <p>{{item.work}}, {{item.yearsOfWork}}</p>
              </div>
            </div>


          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>

