*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-root
{
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // background-color: #cccccc;
}
.app-snackbar-success {
  background-color: #3F51B5;
  color: #ffffff;

  .mat-simple-snackbar-action {
    color: #ffffff9a;

  }
}

.app-snackbar-error {
  background-color: #f0554a;
  color: #ffffff;

  .mat-simple-snackbar-action {
    color: #ffffff9a;

  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
